div{
    height: 100px;
    width: 100px;
    background-color: pink;
}
@media(min-width: 600px) {
    div{
        background-color: red;
    }
    
}
@media (max-width:600px) {
    div{
        background-color: green;
    }
    
}
@media (min-width: 200px) and (max-width:500px){
    div{
        background-color: blue ;
    }
    
}