body{
    background-color:black;
}
.box{
    text-align: center;
    align-content: center;
    color: aliceblue;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    background-image: url(sunset2.jpg);
    background-size:cover;
    background-color: blue;
    /* animation-name: colourfull;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    /* animation-name: moving ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: moving 3.5s ease-in 0s infinite alternate;
    
    
}

@keyframes colourfull{
    from {background-color: blue;}
    to {background-color: red;}
}
@keyframes moving {
    0%{ transform: translate(0px);
        background-image: url(sunset2.jpg);}
    100%{transform: translate(500px);
    background-image: url(night\ moon.jpg);}
}
.loader{
    height:200px;
    width:200px;
    border-radius:50%;
    /* border: 4px solid rgb(255, 0, 0); */
    border-top: 4px dotted blue;
 
    animation: loading 0.5s linear 0s infinite forwards ;
    animation-timing-function: ease-in-out;
    /* animation-name:  loading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

}
@keyframes loading {
    from
    {
        transform:rotate(0 deg);
    }
    to
    {
        transform:rotate(360deg);
    }
}


