#box{
    background-color: rgb(215, 243, 187);
    background-image: url(https://images.unsplash.com/photo-1578287595011-8c565dfc2ef8?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGZpcmV8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    width: 400px;
    height: 800px;
    border-radius: 30px;
    box-shadow: 9px 9px 20px 5px rgb(81, 99, 1);
    margin: 40px;
    border-style: outset;
    border-color: blueviolet;

}
img{
    width: 300px;
    margin: 45px;
    border-radius: 20px;
    box-shadow: 9px 9px 9px gray;
}
video{
border-radius: 30px;

}
body{
    background-color: rgb(195, 102, 248);
    background-image: url(https://images.unsplash.com/photo-1578287595011-8c565dfc2ef8?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGZpcmV8ZW58MHx8MHx8fDA%3D);
    
}